{% extends "base.html.twig" %}

{% block title %}

	{{ ad.title }}

{% endblock %}

{% block body %}

	<div class="ad-title" style="background-image: url({{ ad.coverImage }})">
		<div class="container">
			<h1>{{ad.title}}</h1>
			<p>{{ad.introduction}}</p>
			<p class="h2">
				<strong>{{ad.rooms}}
					chambres</strong>
				pour
				<strong>{{ad.price}}&euro;</strong>
				par nuit
			</p>

			<a href="" class="btn btn-primary">Reserver !</a>
		</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-md-8 mb-3">
				{{ ad.content | raw }}
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						{% for image in ad.images %}
							<li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}" {% if loop.first %} class="active" {% endif %}></li>
						{% endfor %}

					</ol>
					<div class="carousel-inner">
						{% for image in ad.images %}
							<div class="carousel-item {% if loop.first %} active {% endif %}}">
								<img src="{{image.url}}" class="d-block w-100" alt="...">
							</div>
							<div class="carousel-caption d-none d-md-block">
								<h5>{{ad.title}}</h5>
								{# <p>{{image.caption}}</p> #}
							</div>

						{% endfor %}

					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>


			</div>


			<div class="col">
				<div class="row">
					<div class="col-4">
						<img src="http://via.placeholder.com/64x64" alt="Avatar de joseph">
					</div>
					<div class="col">
						<h3>
							joseph Dupont</h3>
						<span class="badge badge-primary">3 annonces
						</span>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptate blanditiis obcaecati voluptatem optio illo, alias aut reprehenderit impedit nostrum consequuntur ab aspernatur corrupti, recusandae neque, pariatur est libero odio.</p>
				<p>Deserunt tempora quidem voluptatum eaque labore non dolorum sunt explicabo suscipit cum, ullam voluptate aliquid doloremque, fugit, magni animi esse necessitatibus ea autem corrupti tempore! Eveniet provident sequi modi qui.</p>
				<p>Reiciendis beatae voluptatibus voluptatum eos ex quas laboriosam? Odio aliquam laborum voluptate odit perspiciatis praesentium deleniti ex, cum hic suscipit reiciendis sed autem id beatae! Nulla minima libero veniam molestias.</p>
			</div>
		</div>
	</div>

{% endblock %}
